<!DOCTYPE html>
<html>
  <head>
    <title>CnvrgTask</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= javascript_pack_tag 'react_app' %>
    <%= stylesheet_link_tag 'application', media: 'all'%>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <div id='root'>
    <%= yield %>
  </body>
</html>
